.navbar-component {
    display: flex;
}

.navbar-name {
    width: 60px;
    height: 20px;
    display: block;
    position: absolute;
    top: 2rem;
    left: 1.5rem;
}

.navbar-logo {
    width: 45px;
    height: 45px;
    display: block;
    position: absolute;
    top: 0.8rem;
    right: 0.8rem;
     cursor: pointer;
}


